<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submission</title>

</head>

<body style="font-family: Arial, sans-serif;background-color: #f4f4f4; margin: 0;padding: 0;">
    <div class="email-container"
        style="width: 100%;max-width: 600px;margin: 0 auto;background-color: #ffffff;border-radius: 8px;overflow: hidden;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <div class="header" style="display: flex;background: #00833d; color: #ffffff;padding: 20px 17px 20px 0px;">
            <img class="img2" src="https://captivtech.com/do_not_delete/GGTI-Logo%201.svg" alt="Global GreenTag International"
                style="width: 150px;padding-left: 19px;">
        </div>
        <!-- Email Content -->
        <div class="content" style="padding: 20px;background: #ebffec;">
            <h2>Hello {{firstName}},</h2>
            <p style="font-size: 16px;line-height: 1.5;color: #333333;margin-top: 0px;">Thank you for submitting your application for <strong>{{position}}</strong> ! </p>
            <p style="font-size: 16px;line-height: 1.5;color: #333333;margin-top: 0px;">We have received your application and will begin the review process shortly.</p>
            <p style="font-size: 16px;line-height: 1.5;color: #333333;margin-top: 0px;">If we require any further information, we will reach out to you. In the meantime, feel free to check the status of your application on our website or contact us if you have any questions.</p>
            <p style="font-size: 16px;line-height: 1.5;color: #333333;margin-top: 0px;">We appreciate your interest in joining Captiv Techno Solution Private Limited and wish you the best of luck!</p>
            <p style="font-size: 16px;line-height: 1.5;color: #333333;margin-top: 100px;">Best Regards,<br>
                Global GreenTag International</p>
        </div>

        <div class="footer"
            style="text-align: center;padding: 10px;font-size: 12px;color: #fff;background-color: 	#00833d;">
            <p>© 2024 Global GreenTag . All rights reserved.</p>
        </div>
    </div>



</body>

</html>